# Build results
bin/
obj/

# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Rider
.idea/

# Logs
*.log

# Test results
TestResults/
*.trx

# NuGet
*.nupkg
packages/


# Publish
publish/

# Docker
.dockerignore

# OS files
.DS_Store
Thumbs.db

# Entity Framework
*.db
*.sqlite

# Secrets
secrets.json